<div [style.width.px]="starWidth" class="crop" 
    (click)="onStar()">
    <div style="width:86px" class="color">
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
    </div>
</div>


<!--
CSS Overflow Hidden (cutting off extra space)
//https://www.w3schools.com/css/tryit.asp?filename=trycss_overflow_hidden 

86/5 star
86/5 * 3.5 star

86/6 star
86/6 * 3.5 star
-->