<div class="panel panel-primary">
        <div class="panel-heading">
            {{pageTitle}}
        </div>
        <div class="panel-body"  >
            <div class="row" >
                <img src="./assets/twin_logo.jpg" 
                     class="img-responsive center-block"
                     style="max-height:300px;padding-bottom:50px"/>
            </div>
            <div class="row"  >
                <div class="text-center">Developed by:</div>
                <h3 class="text-center">Rajiv Patel</h3>
    
                <div class="text-center">patelrajiv787@gmail.com</div>
                <div class="text-center">
                    <a href="http://www.rajivpatel.me">www.rajivpatel.me</a>
                    <br>Welcome to Angular 5+ using API,
                  <a href="http://rajiv-angular.s3-website.us-east-2.amazonaws.com" target="_blank">Angular Notes</a>,                  
                    <a href="http://rajiv.us-east-2.elasticbeanstalk.com/" target="_blank">MEAN App</a>,
                    <a href="https://ngapi4.herokuapp.com/api/getProducts" target="_blank">Product</a>,
                    <a href="https://ngmovies.herokuapp.com/api/getMovies" target="_blank">Movies</a>,
                    <a href="https://ngmusicdb.herokuapp.com/api/getMusic" target="_blank">Music</a> 
                    End Point Uniform Resource Identifier (URI)/URL
                </div>
            </div>
        </div>
    </div>
<BR><BR><BR><BR><BR><BR><BR>
<div>
        <p>&nbsp;</p>
        <h3 align="center">Angular File Structure</h3>
        <p>&nbsp;</p>
        <div align="center"><strong>package.json</strong> ng serve <span style="color: red;">- - port 4000 or select / default is 4200</span></div>
        <p>&nbsp;</p>
        <div align="center"><strong>angular.json</strong> Under Options:We have our compiler and browser files,<span style="color: red;"> index.html, main.ts</span></div>
        <p>&nbsp;</p>
        <div align="center"><strong>1. Starter File [main.ts] file</strong> Importing Class <span style="color: red;">MainRajivAppModule</span></div>
        <table border="1" width="80%" align="center">
            <tbody>
                <tr>
                    <td align="center"><br /><br />
                        <div align="center"><strong>2.[app.module.ts] file</strong> Exporting Class <span style="color: red;">MainRajivAppModule</span><br /> + declarations of all Component Files: <span style="color: magenta;">MainAppComponent,<span style="color: blue;">FirstClassCompbyRaj, ProductComponent</span></span></div>
                        <!-- 3a.[app.component.ts] -->
                        <table width="99%">
                            <tbody>
                                <tr>
                                    <td align="center">
                                        <table border="1" width="90%" cellpadding="10px">
                                            <tbody>
                                                <tr>
                                                    <td align="center"><br /><br />
                                                        <div align="center"><strong>3a.[app.component.ts] file</strong><br /> Create Selector <span style="color: red;"> 'RajApp-Comp'</span> <br /> + Export Class <span style="color: magenta;">MainAppComponent</span></div>
                                                        <table border="2" align="center">
                                                            <tbody>
                                                                <tr>
                                                                    <td align="center"><br />
                                                                        <div class="container text-danger">template string: <strong>Welcome to angular by Rajiv, HTML text 1</strong> +</div>
                                                                        <span style="color: red;"> &lt;myFirstComponent&gt; &nbsp;&nbsp;&nbsp; &lt;myFirstComponent&gt;</span><br /> <span style="color: red;"> &lt;app-prod&gt; &nbsp;&nbsp;&nbsp; &lt;app- prod&gt;</span></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <br /><br /> <!-- 3b.[myFirst.component.ts] file --> <strong>3b.[myFirst.component.ts] file</strong> <br /> + Create Selector <span style="color: red;">&lt;myFirstComponent&gt;</span> <br /> + Export Class <span style="color: blue;">FirstClassCompbyRaj</span>
                                                        <table border="1" width="90%" align="center">
                                                            <tbody>
                                                                <tr>
                                                                    <td align="center"><span style="color: red;"> &lt;myFirstComponent&gt;</span> <span style="color: red;"> &lt;myFirstComponent&gt;</span></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <br /><br /> <!-- 3c.[products/product.component.ts] file --> <strong>3c.[products/product.component.ts] file</strong> <br /> + Importing HTML templateUrl: <span style="color: red;">./product.component.html</span> <br /> + Create Selector <span style="color: red;">&lt;app-prod &gt;</span> <br /> + Export Class <span style="color: blue;">ProductComponent</span>
                                                        <table border="1" width="90%" align="center">
                                                            <tbody>
                                                                <tr>
                                                                    <td align="center"><span style="color: red;"> &lt;app-prod &gt;</span> <span style="color: red;"> &lt;app-prod&gt;</span></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <br /><br /></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <br /><br /></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <p><br /><br /></p>
        <table border="1" width="80%" align="center">
            <tbody>
                <tr>
                    <td align="center"><br /><strong>index.html file bringing</strong> <span style="color: red;"> &lt;RajApp-Comp&gt;</span><br /><br /></td>
                </tr>
            </tbody>
        </table>
        <p><br /><br /></p>
    














</div>

